USE [master]
GO
/****** Object:  Database [db_club]    Script Date: 16/11/2023 23:18:36 ******/
CREATE DATABASE [db_club]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_club', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_club.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_club_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_club_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_club].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_club]
GO
/****** Object:  Table [dbo].[actividades]    Script Date: 16/11/2023 23:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actividades](
	[idActividad] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[costo] [float] NOT NULL,
 CONSTRAINT [PK_actividades] PRIMARY KEY CLUSTERED 
(
	[idActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuotas]    Script Date: 16/11/2023 23:18:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuotas](
	[idCuota] [int] IDENTITY(1,1) NOT NULL,
	[idSocio] [int] NULL,
	[mes] [int] NOT NULL,
	[anio] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[pagado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entrenamientos]    Script Date: 16/11/2023 23:18:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entrenamientos](
	[idEntrenamiento] [int] IDENTITY(1,1) NOT NULL,
	[horaDesde] [time](7) NULL,
	[horaHasta] [time](7) NULL,
	[dia] [int] NULL,
	[idProfesor] [int] NULL,
	[idInstalacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idEntrenamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instalaciones]    Script Date: 16/11/2023 23:18:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instalaciones](
	[idInstalacion] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[idActividad] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idInstalacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas]    Script Date: 16/11/2023 23:18:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas](
	[dni] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](50) NOT NULL,
	[rol] [varchar](50) NULL,
	[idActividad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservas]    Script Date: 16/11/2023 23:18:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservas](
	[idReservas] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[idInstalacion] [int] NOT NULL,
	[dni] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[hora] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[idReservas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_personas]    Script Date: 16/11/2023 23:18:37 ******/
CREATE NONCLUSTERED INDEX [IX_personas] ON [dbo].[personas]
(
	[idActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[instalaciones] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD FOREIGN KEY([idSocio])
REFERENCES [dbo].[personas] ([dni])
GO
ALTER TABLE [dbo].[entrenamientos]  WITH CHECK ADD FOREIGN KEY([idInstalacion])
REFERENCES [dbo].[instalaciones] ([idInstalacion])
GO
ALTER TABLE [dbo].[entrenamientos]  WITH CHECK ADD FOREIGN KEY([idProfesor])
REFERENCES [dbo].[personas] ([dni])
GO
ALTER TABLE [dbo].[instalaciones]  WITH CHECK ADD FOREIGN KEY([idActividad])
REFERENCES [dbo].[actividades] ([idActividad])
GO
ALTER TABLE [dbo].[personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_Actividades] FOREIGN KEY([idActividad])
REFERENCES [dbo].[actividades] ([idActividad])
GO
ALTER TABLE [dbo].[personas] CHECK CONSTRAINT [FK_Personas_Actividades]
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD FOREIGN KEY([dni])
REFERENCES [dbo].[personas] ([dni])
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD FOREIGN KEY([idInstalacion])
REFERENCES [dbo].[instalaciones] ([idInstalacion])
GO
USE [master]
GO
